services:
  snode:
    image: blocknetdx/servicenode:latest
    restart: unless-stopped
    environment:
      PUBLIC_IP: "${PUBLIC_IP}"
      RPC_USER: "${RPC_USER}"
      RPC_PASSWORD: "${RPC_PASSWORD}"
      SN_NAME: "${SN_NAME}"
      SN_ADDRESS: "${SN_ADDRESS}"
      SN_KEY: "${SN_KEY}"
    volumes:
      - /media/atcsecure/satassd4tb/snode-compose-test/config:/opt/blockchain/config
      - /media/atcsecure/satassd4tb/snode-compose-test/config:/opt/blockchain/data
    ports:
      - "41412"
      - "41414"
    networks:
      - backend

