version: "3.8"

services:
  snode:
    image: blocknetdx/servicenode:latest
    entrypoint: /opt/blockchain/start-snode.sh
    restart: unless-stopped
    environment:
      PUBLIC_IP: "${PUBLIC_IP}"
      RPC_USER: "${RPC_USER}"
      RPC_PASSWORD: "${RPC_PASSWORD}"
      SN_NAME: "${SN_NAME}"
      SN_ADDRESS: "${SN_ADDRESS}"
      SN_KEY: "${SN_KEY}"
    volumes:
      - {{ mount_dir }}/snode/config:/opt/blockchain/config
      - {{ mount_dir }}/snode/data:/opt/blockchain/data
      - type: bind
        source: ./scripts
        target: /opt/blockchain
      - type: bind
        source: ./plugins
        target: /opt/blockchain/data/plugins
      - type: bind
        source: ./scripts/config/xbridge.conf
        target: /opt/blockchain/data/xbridge.conf
    ports:
      - "41412:41412"
      - "41414:41414"
    networks:
      - backend

{% for daemon in daemons %}
  {{ daemon.name }}:
    image: {{ daemon.image }}
    restart: unless-stopped
    ports:
      - "{{ daemon.rpcPort }}:{{ daemon.rpcPort }}"
      - "{{ daemon.p2pPort }}:{{ daemon.p2pPort }}"
    volumes:
      - {{ mount_dir }}/{{ daemon.name }}/config:/opt/blockchain/config
      - {{ mount_dir }}/{{ daemon.name }}/data:/opt/blockchain/data
    networks:
      - backend
{% endfor %}

networks:
  frontend:
    driver: bridge
  backend:
    driver: bridge
