#!/bin/bash

cat > /opt/uwsgi/conf/uwsgi.ini << EOL
[uwsgi]
processes = 4
threads = 4

buffer-size = 32768

set-ph = SERVICENODE_PRIVKEY=${SN_KEY}

{% if blocknet_node == 'testsnode' %}
set-ph = BLOCKNET_CHAIN=testnet
{% else %}
set-ph = BLOCKNET_CHAIN=mainnet
{% endif %}
set-ph = PLUGINS={{ xrouter_plugins }}
set-ph = HANDLE_PAYMENTS=true
set-ph = HANDLE_PAYMENTS_ENFORCE=true
set-ph = HANDLE_PAYMENTS_RPC_INCLUDE_HEADERS=true
set-ph = HANDLE_PAYMENTS_RPC_HOSTIP={{ blocknet_node }}
set-ph = HANDLE_PAYMENTS_RPC_PORT=41414
set-ph = HANDLE_PAYMENTS_RPC_USER=${RPC_USER}
set-ph = HANDLE_PAYMENTS_RPC_PASS=${RPC_PASSWORD}
set-ph = HANDLE_PAYMENTS_RPC_VER=2.0

set-ph = RPC_BLOCK_HOSTIP={{ blocknet_node }}
set-ph = RPC_BLOCK_PORT=41414
set-ph = RPC_BLOCK_USER=${RPC_USER}
set-ph = RPC_BLOCK_PASS=${RPC_PASSWORD}
set-ph = RPC_BLOCK_VER=2.0

{% for daemon in daemons %}
set-ph = RPC_{{ daemon.name }}_HOSTIP={{ daemon.name }}
set-ph = RPC_{{ daemon.name }}_PORT={{ daemon.rpcPort }}
set-ph = RPC_{{ daemon.name }}_USER=${RPC_USER}
set-ph = RPC_{{ daemon.name }}_PASS=${RPC_PASSWORD}
set-ph = RPC_{{ daemon.name }}_VER=2.0

{% endfor %}

{% if deploy_xquery %}
set-ph = URL_XQUERY_HOSTIP={{ reverse_proxy_ip }}
set-ph = URL_XQUERY_PORT={{ reverse_proxy_port }}
{% endif %}

EOL
# ensure supervisord runs at pid1
exec supervisord -c /etc/supervisord.conf
